.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-text{
  color:white;
}

.small-icon{
  width:24px;
  height:24px;
  margin-left:15px;
  margin-right:5px;
}


.home{ 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.dark{ 
  background-color: #191919;
  color: white;
}

.light{
  background-color: #ffffff;
  color:#191919;
}

